.valor,
.titulo {
    text-align: center;
}

.contenedor-PolFija,
.contenedor-PolEmisor,
.contenedor-PolDiviVoltaje,
.contenedor-RealiColector{
    margin: 0 auto;
    width: 80%;
    height: auto;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedorValores {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.contenedor-datos{
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px;
}

img {
    height: 600px;
    width: 50%;
}