body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valor,
.titulo, 
.subtitulo,
.tituloMay {
    padding: 5px;
    text-align: center;
}

.titulo{
    background-color: #025259;
    color: white;
    width: 80%;
    text-align: center;
}

.tituloMay{
    width: 100%;
    background-color: #0f1920;
    color: white;
}

.subtitulo{
    border-radius: 1px;
    background-color: #617c96;
    color: white;
}

.contenedor-PolFija,
.contenedor-PolEmisor,
.contenedor-PolDiviVoltaje,
.contenedor-RealiColector{
    margin: 0 auto;
    width: 80%;
    height: 700px;
    background-color: #16232E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedorValores {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.contenedor-datos{
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px;
}

img {
    height: 600px;
    width: 50%;
    margin: 10px;
    padding: 15px;
}

label{
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #164C45;
}
